.logo {
  margin-right:43.5%;
  margin-left:43.5%;
  font-size:50px;
  border-style:solid;
  border-width:3px;
  border-color:green;
  background-color:blue;
  color:snow;
  font-family:impact;
}
.title{
  margin-right:75%;
  font-size:20px;
  font-family:arial;
  border-style:solid;
  border-width:3px;
  border-color:green;
}
.para{
  font-size:15px;
  font-family:arial;
}
.image{
  border-style:solid;
  border-width:5px;
  border-color:blue;
}
#review{
  width:200px;
}
#lawn{
  height:200px;
}
#kids{
  height:200px;
}
#phone{
  width:200px;
}