.title{
  margin-right:33.5%;
  margin-left:33.5%;
  font-size:50px;
  border-style:solid;
  border-width:3px;
  border-color:green;
  background-color:blue;
  color:snow;
  font-family:impact;
}
.image{
  border-style:solid;
  border-width:5px;
  border-color:blue;
}
#phone{
  width:200px;
  border-style:solid;
  border-width:5px;
  border-color:blue;
}
#lawn{
  margin-left:33.5%;
  width:200px;
}
#bonus{
  width:200px;
}
#review{
  width:200px;
}
#house{
  height:100px;
  position:absolute;
}
#kids{
  position:absolute;
  margin-top:-50px;
  margin-left:400px;
  height:50px;
}
.para{
  font-size:15px;
  font-family:arial;
}